<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Mahasiswa</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Mahasiswa</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Semua data mahasiswa</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <a [routerLink]="['/mahasiswa/create']" class="btn btn-primary mb-3"><i
              class="fas fa-user-plus"></i>&nbsp;&nbsp;Tambah mahasiswa</a>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Nim</th>
                <th>Nama</th>
                <th>Tahun Masuk</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let data of students;">
                <td>{{  data.student.nim }}</td>
                <td>{{ data.student.name }}</td>
                <td>{{ data.student.entry_year }}</td>
                <td>

                  <div class="dropdown show">
                    <a class="btn btn-info btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      &nbsp;&nbsp;Aksi
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="javascript:;"><i class="fas fa-eye"></i>&nbsp;&nbsp;Detil</a>
                      <a class="dropdown-item" href="javascript:;" [routerLink]="['/mahasiswa', data.id]"><i
                          class="fas fa-edit"></i>&nbsp;&nbsp;Ubah</a>
                      <a class="dropdown-item" href="javascript:;" (click)="deleteData(data.id)"><i
                          class="fas fa-trash"></i>&nbsp;&nbsp;Hapus</a>
                    </div>
                  </div>

                </td>
              </tr>




            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
