<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Bidang penelitian</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Bidang</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Semua data bidang penelitian</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Nama bidang</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>


                  <tr *ngFor="let expertise of expertises; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ expertise.expertise_name }}</td>
                    <td>

                      <div class="dropdown show">
                        <a class="btn btn-info btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          &nbsp;&nbsp;Aksi
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <button class="dropdown-item" type="button" (click)="setUpdateForm(expertise.id)">
                            <i class="fas fa-edit"></i>&nbsp;&nbsp;Ubah
                          </button>
                          <button class="dropdown-item" type="button" (click)="deleteData(expertise.id)">
                            <i class="fas fa-trash"></i>&nbsp;&nbsp;Hapus
                          </button>
                        </div>
                      </div>

                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- add form -->
        <div class="col-md-6" *ngIf="addForm">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Tambah bidang penelitian</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="alert alert-danger alert-dismissible" *ngIf="alert">
                {{ alertMessage }}
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nama</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" [(ngModel)]="newExpertise.expertise_name" required>
                </div>
              </div>
              <hr>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <button class="btn btn-primary btn-sm" (click)="saveExpertise()">Simpan</button>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- add form -->

        <!-- edit form -->
        <div class="col-md-6" *ngIf="editForm">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Ubah bidang penelitian</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="alert alert-danger alert-dismissible" *ngIf="alert">
                {{ alertMessage }}
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nama</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" [(ngModel)]="editExpertise.expertise_name" required>
                </div>
              </div>
              <hr>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <button class="btn btn-primary btn-sm" (click)="updateData(editExpertise.id)">Ubah</button>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /edit form -->


      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
